@charset "utf-8";
/* CSS Document */



body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, table, th, td, embed, object {padding: 0; margin: 0;}
body{ margin: 0; padding: 0; font-family:"微软雅黑"; font-size: 14px;}

img{ border: 0;}
input{outline:none;}
a{ text-decoration: none;}
ul{list-style:none;}
i,b,em{ font-style: normal;}
/*圆角兼容ie*/
.jianron{ position:relative; z-index:2; behavior:url(ie-css3.htc);}
/*清除浮动  子元素浮动后 父元素加上这个类名 清除浮动*/
.clearfix:after{content:"";display:block;width:0;clear:both;}
.clearfix{zoom:1;}
.left{float:left !important;}
.right{float:right !important;}

/*字体*/
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1476241190'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1476241190#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1476241190') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1476241190') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1476241190#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-tishi:before { content: "\e714"; }
.icon-jian:before { content: "\e604"; }
.icon-sousuo-copy:before { content: "\e60a"; }
.icon-zan:before { content: "\e65e"; }
.icon-cai:before { content: "\e62d"; }
.icon-jiantou:before { content: "\e631"; }
.icon-jiantou1:before { content: "\e60f"; }
/*用法： 提示 &#xe714; 减 &#xe604; 搜索 &#xe60a; 赞 &#xe65e; 踩 &#xe62d; 箭头往左 &#xe631; 箭头右 &#xe60f;*/

@font-face {
	font-family:"李旭科书法1.4";
	src:url(../fonts/%E6%9D%8E%E6%97%AD%E7%A7%91%E4%B9%A6%E6%B3%951.4.ttf);
}
/*透明度兼容*/
@media \0screen\,screen\9 {/* 只支持IE6、7、8 */
  .header-nav-select{
    background-color:rgb(0,0,0);
    filter:Alpha(opacity=70);
    /* IE6、7、8只能设置position:static(默认属性) ，否则会导致子元素继承Alpha值 */
    *zoom:1; /* 激活IE6、7的haslayout属性，让它读懂Alpha */
  }
  .header-nav-select a{
    position: relative;/* 设置子元素为相对定位，可让子元素不继承Alpha值 */
  }  
}
.ml10{
  margin-left:10px;
}
.dis_in{
  display: inline-block;
}
.width100{
  width: 100%;
}
.pr{
  position: relative;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
/*首页*/
/*头部导航*/
.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  border-bottom: 1px solid red;
}
.ul-container{
  width: 1100px;
  height: 54px;
  line-height: 54px;
  padding: 22px 0;
  margin: 0 auto;
}
.header-nav > li{
  position: relative;
  float: left;
}

.ul-container > ul > li> a{
  display: inline-block;
  font-size: 16px;
  height:38px;
  line-height: 38px;
  color: #999;
  padding:0 34px;
}
.header-nav .active{
  color: #fff;
  background-color: #ff790b;
  border-radius: 5px 5px 0 0;
}
.dropdown-menu{
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  z-index: 1000;
  font-size: 14px;
  text-align: center;
  background-color: #ff790b;
  padding-bottom:5px;
  display: none;
  border-radius: 0 0 5px 5px;
}
.dropdown-menu > li{
  height: 30px;
  line-height: 30px;
}
.dropdown-menu > li > a {
  display: inline-block;
  width: 100%;
  color: #fff;
  font-size: 16px;
}
.dropdown-menu > li > a:hover{
  background-color: rgba(255,255,255,0.3);
}
/*中间*/
.main-content{
  margin-top:101px;
}
.banner{
  width: 100%;
  height: 300px;
  border-bottom: 1px solid black;
}
.more-product{
  width:1200px;
  height:290px;
  margin: 0 auto;
}
.more-product > ul > li{
  float: left;
  width:20%;
}
.more-product > ul > li > a{
  display: block;
  margin:0 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px #ddd;
  transition: all 0.6s;
}
.more-product > ul > li > a div{
  font-size: 18px;
  color:#333;
  text-align:center;
  padding:8px 0 13px;
}
.scale-img:hover{
  transform: scale(1.2);
}
.scale-img:hover .product-msg{
  color:#fe8b2d;
  font-weight: normal;
}
.more-product > ul > li > a img{
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.more-product-logo{
  position: absolute;
  width:45px;
  height:45px;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
}
.year-list{
  width:1000px;
  height: 90px;
  margin: 0 auto;
}
.year-list > ul > li{
  width: 120px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  margin:0 2px;
  border-radius: 5px;
  float: left;
  background-color: #fe8b2d;
  transition: height 1s;
}
.year-list > ul > li:hover{
  height: 76px;
}
.year-logo ul{
  width: 1100px;
  height:273px;
  margin: 0 auto;
}
.year-logo ul > li{
  width: 25%;
  float: left;
  text-align: center;
  color: #333;
}
.year-logo ul > li > div:first-child{
  text-align: center;
  margin: 0 15px;
  border: 1px solid #fe8b2d;
  border-radius: 5px;
}
.year-logo ul > li > div:last-child{
  padding:15px 0;
  font-size: 18px;
}
.year-logo ul > li > div > img {
  width: 100%;
  border-radius: 5px;
}
.information-list{
  height: 208px;
  margin-top: 20px;
}
.information-list > div{
  width: 1100px;
  margin: 0 auto;
}
.active-center > div{
  float: left;
  width: 50%;
}
.active-center > div > div{
  border: 1px solid #fe8b2d;
  border-radius: 5px;
  margin:0 15px;
  padding:15px;
}
.active-center > div > div > ul > li{
  height:45px;
  line-height:45px;
  border-bottom: 1px solid #eee;
}
.left-arrow img{
  width: 10px;
}
/*footer*/
.footer{
  width: 100%;
  padding-top: 72px;
  position: relative;
}
.footer-box{
  margin: 0 auto;
  position: relative;
  background-color: #fafafa;
}
.footer-list{
  width: 1100px;
  text-align: center;
  margin:0 auto;
  height: 120px;
  padding: 30px 0;
}
.footer-list>li{
  float: left;
  padding:0 30px;
  position: relative;
}
.footer-list>li:after{
  content: '';
  height: 100%;
  width: 1px;
  background-color: #ccc;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: scaleX(.5);
  transform: scaleX(.5);
}
.footer-list>li.last-child{
  padding-right: 0;
}
.footer-list>li.last-child:after{
  display: none;
}
.footer-cell{
  font-size:14px;
  color: #666;
  text-align: left;
  height: 120px;
}
.footer-cell-right-top,.footer-cell-right-bottom{
  display:inline-block ;
  position: absolute;
  left: 60px;
}
.footer-cell-right-bottom{
  top:30px;
}
.footer-cell img{
  display: inline-block;
}
.footer-content > li{
  float: left;
}
.footer-cell>li{
  position: relative;
  padding: 3px 0;
  color: #727171;
  cursor:pointer;
}
.footer-header{
  font-size: 16px;
  color: #333;
  margin-bottom: 7px;
}
.footer-content > li > div > a{
  color:#666;
}
.footer-content > li > div:not(:first-child){
  padding: 7px 0;
}
.footer-qrCode{
  position:absolute;
  left: 45px;
  top:-145px;
}
.wb{
  position: relative;
  display: inline;
  margin-left: 160px;
  top: -15px;
}
.wb img{
  vertical-align: middle;
}
/*左边悬浮栏*/
.tip{
  position: fixed;
  top:35%;
  left:20px;
  z-index: 10000;
}
.tip div:first-child{
  margin-bottom: 40px;
}
/*产品介绍*/
.product-content{
  width:1200px;
  margin:30px auto 0;
}
.product-left-content{
}
.product-left{
  position: relative;
  width: 230px;
  height: 371px;
  background: url("../images/product/product.png") no-repeat;
  background-size: 100% 100%;
}
.product-left ul{
  position: absolute;
  width: 85%;
  top:91px;
  left:30px;
  font-size: 18px;
}
.product-left ul > li{
  padding:13px 0;
  width: 100%;
}
.product-left ul > li > a{
  color: #666;
  margin-left:10px;
}
.product-circle{
  width:12px;
  height:12px;
  border-radius: 50%;
  background-color: #999;
}
.product-right{
  margin-left: 60px;
}
.product-year-list{
  height:43px;
}
.product-year-list > ul > li{
  float:left;
  padding: 10px 25px;
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.product-year-list > ul > li:first-child{
  border: 1px solid #eee;
  border-radius: 5px 0 0 5px;
}
.product-year-list > ul > li:last-child{
  border: 1px solid #eee;
  border-radius: 0 5px 5px 0;
}
.product-list{
  width: 856px;
  margin-top: 30px;
  margin-left:-15px;
}
.product-list > ul > li{
  display: inline-block;
  float: left;
  text-align: center;
  margin-bottom: 30px;
  width:25%;
}
.product-list > ul > li >div{
  padding:0 15px;
  margin-bottom:15px;
}
.product-list > ul > li > div >img{
  width:100%;
  border-radius: 5px;
  border:1px solid #fe8b2d;
}
